<main
  class="flex justify-center items-center flex-col"
  (click)="clickOutside($event)"
>
  <h1 class="text-[80px] text-[#b83f45] text-center">Todos</h1>
  <div class="shadow-card min-w-[550px] bg-white">
    <!-- Input -->
    <app-add-job
      [jobs]="jobs"
      [someCompleted]="someCompleted"
      [allCompleted]="allCompleted"
      (reloadJobsStatus)="reloadJobsStatus()"
    />

    <!-- Todos -->
    <div class="relative z-[1] shadow-[0px_-2px_4px_#e5e7eb]">
      <app-job-list
        [jobs]="jobs"
        [activeTabName]="activeTabName"
        [getJobsByStatus]="getJobsByStatus"
        (reloadJobsStatus)="reloadJobsStatus()"
      />
      <div class="flex justify-between items-center py-2 px-4 text-[15px]">
        <p>{{ getJobsByStatus("active").length }} items left</p>
        <div class="ml-12">
          <button
            class="border-none rounded-sm hover:outline hover:outline-1 hover:outline-red-600 focus:shadow-[0_0_2px_3px_#cf7d7d] px-[7px] mr-3"
            [ngClass]="{
              'outline outline-1 outline-red-600': activeTabName === 'all'
            }"
            (click)="activeTab('all')"
          >
            All
          </button>
          <button
            class="border-none rounded-sm hover:outline hover:outline-1 hover:outline-red-600 focus:shadow-[0_0_2px_3px_#cf7d7d] px-[7px] mr-3"
            [ngClass]="{
              'outline outline-1 outline-red-600': activeTabName === 'active'
            }"
            (click)="activeTab('active')"
          >
            Active
          </button>
          <button
            class="border-none rounded-sm hover:outline hover:outline-1 hover:outline-red-600 focus:shadow-[0_0_2px_3px_#cf7d7d] px-[7px]"
            [ngClass]="{
              'outline outline-1 outline-red-600': activeTabName === 'completed'
            }"
            (click)="activeTab('completed')"
          >
            Completed
          </button>
        </div>
        <div class="min-w-[120px]">
          <button
            *ngIf="someCompleted"
            class="hover:underline"
            (click)="clearCompletedJob()"
          >
            Clear Completed
          </button>
        </div>
      </div>
    </div>
  </div>
  <p class="mt-4 text-sm">Double-click to edit a todo</p>
</main>
