<ng-container *ngIf="vm$ | async as vm;">
  <ul #jobsUl>
    <li
      jobItem
      class="flex w-full text-2xl relative"
      [job]="job"
      [index]="idx"
      *ngFor="let job of vm.jobs; index as idx"
    ></li>
  </ul>
  <!-- Controls -->
  <div class="flex justify-between items-center py-2 px-4 text-[15px]">
    <p *ngIf="activeJobs$ | async as activeJobs">{{ activeJobs.length }} items left</p>
    <div class="ml-12">
      <button
        class="border-none rounded-sm hover:outline hover:outline-1 hover:outline-red-600 focus:shadow-[0_0_2px_3px_#cf7d7d] px-[7px] mr-3"
        [ngClass]="{
          'outline outline-1 outline-red-600': vm.filterType === 'all'
        }"
        (click)="activeTab('all')"
      >
        All
      </button>
      <button
        class="border-none rounded-sm hover:outline hover:outline-1 hover:outline-red-600 focus:shadow-[0_0_2px_3px_#cf7d7d] px-[7px] mr-3"
        [ngClass]="{
          'outline outline-1 outline-red-600': vm.filterType === 'active'
        }"
        (click)="activeTab('active')"
      >
        Active
      </button>
      <button
        class="border-none rounded-sm hover:outline hover:outline-1 hover:outline-red-600 focus:shadow-[0_0_2px_3px_#cf7d7d] px-[7px]"
        [ngClass]="{
          'outline outline-1 outline-red-600': vm.filterType === 'completed'
        }"
        (click)="activeTab('completed')"
      >
        Completed
      </button>
    </div>
    <div class="min-w-[120px]">
      <button
        *ngIf="vm.someCompleted"
        class="hover:underline"
        (click)="clearCompletedJob()"
      >
        Clear Completed
      </button>
    </div>
  </div>
</ng-container>
